@use '../variables' as v;

.FooterControls {
  display: flex;
  color: v.$t1;
  background-color: v.$d1;
  border-top: 1px solid #666;
  height: 80px;

  .date-selection {
    justify-content: space-around;
    gap: 0.5em;
    flex-direction: column;
    display: flex;
    padding: 1em;

    .row {
      display: flex;
      gap: 0.5em;
    }
  }

  .time-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    svg,
    path,
    rect {
      fill: white;
      stroke: white;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}