@use '../variables' as v;

.FooterControls {
  display: flex;
  color: v.$t1;
  background-color: v.$d1;
  border-top: 1px solid #666;
  height: 60px;

  .time-domain {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    gap: 5px;
    padding: 5px;

    input {
      font-size: 10px;
    }

    input[type='date'] {
      width: 100px;
    }

    input[type='text'] {
      width: 75px;
    }
  }

  .time-slider {
    display: flex;
    color: v.$t1;
    background-color: v.$d1;
    flex: 1;
    position: relative;

    input {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      accent-color: green;
      height: 4px;
    }

    ul {
      width: 100%;
      display: flex;

      li {
        list-style: none;
        flex: 1;
        border-left: 1px solid #666;
        border-right: 1px solid #666;
        padding-right: 5px;
        padding-top: 3px;
      }
    }
  }

  .time-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    svg {
      width: 20px;
      height: 20px;
      filter: invert(100%);
    }
  }
}
