@use '../variables' as v;

.SiteList {
  @extend %card;

  top: 40px;
  left: 40px;
  position: absolute;
  width: 300px;
  background-color: v.$bg;
  color: v.$t1;
  max-height: 275px;

  h2 {
    background-color: v.$header-bg;
    padding: 0.5em;
    display: flex;
    justify-content: center;
  }

  .table-wrapper {
    overflow-y: auto;
  }

  table {
    width: 100%;
    text-align: left;
    padding-bottom: 1em;
    border-collapse: collapse;
    border-style: hidden;

    td,
    th {
      border: 1px solid #454545;
      padding: 0.2em 0.4em;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    thead {
      background-color: v.$bg-thead;
      border-bottom: 2px solid #555;
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
    }

    td:first-child,
    th:first-child {
      padding-left: 0.5em;
    }

    td:last-child,
    th:last-child {
      padding-right: 0.5em;
    }

    tbody tr {
      cursor: pointer;
      background-color: #3e3e3e;

      &:nth-child(even) {
        background-color: #353535;
      }

      &:hover,
      &.selected {
        background-color: #16212a;
        color: white;
      }
    }
  }
}
