@use "../variables" as v;

.DroneViewer {

    @extend %card;

    position: absolute;
    top: 450px;
    left: 50px;
    background-color: #333;
    color: v.$t1;
    z-index: 500;

    h2 {
        background-color: v.$header-bg;
        padding: 0.5em;
        display: flex;
    }

    img {
        width: 100px;
        height: 100px;
    }

    .card-body {

        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 1em;

        .metaData {
            display: flex;
            gap: 1em;

            ul {
                list-style: none;

                img {
                    width: 20px;
                    height: 20px;
                }

                li {
                    display: flex;
                }
            }

        }
    }

}