@use "../variables" as v;

.FooterControls {
    display: flex;
    color: v.$t1;
    background-color: v.$d1;
    border-top: 1px solid #666;

    .date-selection {
        gap: .5em;
        flex-direction: column;
        display: flex;
        padding: 1em;
    }

}