@use 'variables' as v;

.App {
  height: 100vh;

  .logo {
    padding: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 500;

    img {
      width: 80px;
      height: 80px;
    }
  }
}
