// Border doesn't modify element size and cause unwanted overflows.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin.
* {
  margin: 0;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
  font-size: 0.9rem;
}

h1 {
  font-size: 1.5rem;
}

ul {
  padding: 0;
}

:root {
  --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3)
    brightness(0.7);
  color-scheme: dark;
}
