$header-bg: #16222b;
$card-bg: #22313c;
$bg: #354756;
$bg-even: #385063;
$bg-selected: #819bb1;
$bg-thead: #385a76;

$d1: #333;
$d2: #444;
$d3: #555;

$t1: #e5e5e5;

%card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}