@use "variables" as v;

.App {

    height: 100vh;

    h1 {
        padding: 5px;
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 500;
        color: v.$t1;
        background-color: rgba(80, 80, 80, .7);
        display: flex;
        align-items: center;

        img {
            width: 18px;
            height: 18px;
        }
    }
}