// Border doesn't modify element size and cause unwanted overflows.
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove default margin.
* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 1.25rem;
}

h1 {
  font-size: 1.4rem;
}

ul {
  padding: 0;
}


:root {
  --leaflet-tile-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

/* Leaflet dark mode */

.leaflet-tile,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  filter: var(--leaflet-tile-filter, none) !important;
}

.leaflet-container {
  background: #303030 !important;
}